@import "vendor/normalize.css";

form {
    align-content: center;
    text-align: center;
}

.comment {
    margin: 2vh auto;
}

#title {
    text-align: center;
    margin: 3vh auto;
}

@media screen and (min-width: 1001px) {
    body {
        width: 1000px;
        margin: 0 auto;
    }

    .navbar ul {
        padding-left: 0;
    }

    .wrapper {
        width: 95%;
        margin: 0 auto;
    }

    .container {
        width: 80%;
        margin: 0 auto;
    }

    ul, li {
        display: inline-block;
    }

    .top-error {
        width: 75%;
        margin: 0 auto;
    }

    .code-snippet {
        width: 60%;
        margin: 10px auto;
        padding: 15px;
        background: #ececec;
    }

        .code-snippet > p {
            margin: 0;
        }

    .list-result {
        width: 85%;
        margin: 0 auto;
        margin-top: 10vh;
    }

    .search {
        margin-bottom: 5vw;
    }

}

@media screen and (max-width: 1000px) {
    body {
        width: 800px;
        margin: 0 auto;
    }

    .navbar ul {
        padding-left: 0;
    }

    .wrapper {
        width: 95%;
        margin: 0 auto;
    }

    .container {
        width: 80%;
        margin: 0 auto;
    }

    ul, li {
        display: inline-block;
    }

    .top-error {
        width: 75%;
        margin: 0 auto;
    }

    .code-snippet {
        width: 60%;
        margin: 10px auto;
        padding: 15px;
        background: #ececec;
    }

        .code-snippet > p {
            margin: 0;
        }

    .list-result {
        width: 85%;
        margin: 0 auto;
        margin-top: 10vh;
    }
}
