@import "vendor/normalize.css";

form {
    align-content: center;
    text-align: center;
}

.comment {
    margin: 2vh auto;
}

#title {
    text-align: center;
    margin-top: 10vh;
}

li {
    padding: 0 10px;
}

.descript {
    margin: 5vh auto;
}

.add-comment{
    margin-bottom: 8vh;
}

.snippet{
    text-align: center;
}

.search {
    margin-bottom: 5vw;
}

.code-snippet{
    font-family: Consolas;
}

@media screen and (min-width: 1001px) {

    ul, li {
        display: inline-block;
    }

    .top-error {
        margin: 0 auto;
    }

    .code-snippet {
        margin: 10px auto;
        padding: 15px;
        background: #ececec;
    }
    .snippet {
        /*width: 70%;*/
        margin: 5px auto;
        padding: 15px;
        background: #ececec;
    }

        .code-snippet > p {
            margin: 0;
        }

    .list-result {
        width: 85%;
        margin: 0 auto;
        margin-top: 5vh;
    }
}

@media screen and (max-width: 1000px) {

    ul, li {
        display: inline-block;
    }

    .top-error {
        margin: 0 auto;
    }

    .code-snippet {
        margin: 10px auto;
        padding: 15px;
        background: #ececec;
    }

        .code-snippet > p {
            margin: 0;
        }

    .snippet {
        /*width: 70%;*/
        margin: 5px auto;
        padding: 15px;
        background: #ececec;
    }

    .list-result {
        width: 85%;
        margin: 0 auto;
        margin-top: 5vh;
    }
}
