@import "vendor/normalize.css";

.userName {
    border: 0px transparent;
}

.userComment {
    resize: none;
    border: 0.25px solid black;
    box-shadow: 2px 2px 0 rgba(12,13,14,0.1), 0 1px 2px rgba(59,64,69,0.1);
    background: #ececec;
}

#mainnav {
    border-bottom: 0.5px solid black;
    box-shadow: 0 1px 0 rgba(12,13,14,0.1), 0 1px 6px rgba(59,64,69,0.1);
}
#mainfoot {
    border-top: 0.5px solid black;
    box-shadow: 0 -1px 0 rgba(12,13,14,0.1), 0 -1px 6px rgba(59,64,69,0.1);
}

.comment {
    margin: 2vh auto;
}

#title {
    text-align: center;
    margin-top: 10vh;
}

li {
    padding: 0 10px;
}

.descript {
    margin: 3vh auto;
}

.add-comment{
    margin-bottom: 8vh;
}

.snippet{
    text-align: center;
}

.search {
    margin-bottom: 5vw;
    align-content: center;
    text-align: center;
}

.vote {
    align-content: center;
    text-align: center;
}

.code-snippet{
    font-family: Consolas;
}

a {
    text-decoration: none;
    color: darkslategray;
}
    a:hover {
        text-decoration-style: none !important;
        color: darkblue;
    }
#link {
    text-decoration-style: none !important;
    color: blue;
} 

@media screen and (min-width: 1001px) {

    ul, li {
        display: inline-block;
    }

    .top-error {
        margin: 0 auto;
    }

    .code-snippet {
        margin: 10px auto;
        padding: 15px;
        border: 0.5px solid black;
        box-shadow: 0 3px 0 rgba(12,13,14,0.1), 0 1px 4px rgba(59,64,69,0.1);
        background: #ececec;
    }
    .snippet {
        /*width: 70%;*/
        margin: 5px auto;
        padding: 15px;
        border: 0.5px solid black;
        box-shadow: 0 3px 0 rgba(12,13,14,0.1), 0 1px 4px rgba(59,64,69,0.1);
        background: #ececec;
    }

        .code-snippet > p {
            margin: 0;
        }

    .list-result {
        width: 85%;
        margin: 0 auto;
        margin-top: 5vh;
    }
}

@media screen and (max-width: 1000px) {

    ul, li {
        display: inline-block;
    }

    .top-error {
        margin: 0 auto;
    }

    .code-snippet {
        margin: 10px auto;
        padding: 15px;
        background: #ececec;
    }

        .code-snippet > p {
            margin: 0;
        }

    .snippet {
        /*width: 70%;*/
        margin: 5px auto;
        padding: 15px;
        border: 0.5px solid black;
        box-shadow: 0 3px 0 rgba(12,13,14,0.1), 0 1px 4px rgba(59,64,69,0.1);
        background: #ececec;
    }

    .list-result {
        width: 85%;
        margin: 0 auto;
        margin-top: 5vh;
    }
}
