@model SyntacsApp.Models.ErrorResultViewModel

<div class="container">
    <section class="top-error">
        <h3>Current Favorite Error</h3>
        <p>@Model.Error.DetailedName</p>
        <div class="code-snippet">
            @foreach (var line in Model.CodeFormat)
            {

                if (line.Contains("\t"))
                {
                    <p>&emsp;@line</p>
                }
                else
                {
                    <p>@line</p>
                }
            }
        </div>
        <div>
            <p>@Model.Error.Description</p>
        </div>
    </section>
</div>