<!DOCTYPE html>

<html>
<head>
    <environment include="Development">
        <link href="~/style/style.css" rel="stylesheet" />
    </environment>
    <environment exclude="Development">
        <link href="~/style/style.css" rel="stylesheet" />
    </environment>
    <meta name="viewport" content="width=device-width" />
    <title>Syntacs-Error</title>
</head>
<body>
    <nav>
        <div class="navbar">
            <ul class="nav">
                <!--Add asp-controllers and actions-->
                <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                <li><a asp-controller="ErrorList" asp-action="Index">Error List</a></li>
                <li><a asp-controller="About" asp-action="Index">About</a></li>
            </ul>
        </div>
    </nav>
    <div class="wrapper">

        <div id="title">
            <h1>Have an error? Search for it</h1>
            <p>example: NullReference Exception</p>
        </div>

        <form class="search" asp-controller="Home" asp-action="Search" method="get">
            <input type="text" name="search" />
            <input type="submit" value="search" />
        </form>

        @RenderBody()
    </div>
    <footer class="clear"><p>&copy; @DateTime.Now.Year</p></footer>
</body>
</html>
