<div class="container alert alert-danger col-lg-8">
    <div class="container col-lg-10" style="padding:20px 0;">
        <h1>Wait a second...</h1>
        <p>Looks like something is actually broke this time<p />

        <a id="link" href="https://support.microsoft.com/en-us/help/943891/the-http-status-code-in-iis-7-0-iis-7-5-and-iis-8-0">microsoft docs link</a>
    </div>
</div>