<div class="container alert alert-danger col-lg-8">
    <div class="container col-lg-10" style="padding:20px 0;">
        <h1>Wait a second...</h1>
        <p>Looks like something is actually broke this time<p />

        <a href="#">microsoft docs link</a>
    </div>
</div>