<div class="container col-lg-9">
    <section class="About snippet">

        <p>
            Syntacs is a website that is designed to be an entry point for new developers and quick reference for veterans that provides
            succinct documentation about the various error types and possible causations of those error types.
        </p>
        <p>
            It removes the necessity
            to skim through various dry references and help optimize development and education while continuing to provide direct access
            to in depth documentation should more be required.
        </p>
        <p>
            This site is by developers, for developers and for
            the common goal to get straight to the point to find out why my code is broken.
        </p>
    </section>
</div>